[submodule "lyrics/public"]
	path = lyrics/public
	url = git@github.com:liftedkilt/liftedkilt.github.io.git
	branch = master

[submodule "lyrics/themes/tale"]
	path = lyrics/themes/tale
	url = https://github.com/liftedkilt/tale-hugo.git
